.container {
  width: 100%;
  max-width: 90%;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 61px;
  color: #ffffff;
  h3 {
    text-align: center;
  }
}
.landing-bg {
  position: fixed;
  z-index: 1;
  background: url(../../assets/images/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 61px;
  height: calc(100vh - 61px);
}
.content-search {
  display: block;
  width: 100%;
  max-width: 400px;

  input {
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 10px;
    font-size: 16px;
  }
}
