<app-header-bar></app-header-bar>
<div class="content-landing">
  <div class="landing-bg">
    <div class="container">
      <h1>Seja bem vindo!</h1>
      <h3>
        Não sabe que filme assistir?<br />
        Então encontrou o lugar certo, aqui você terá acesso há mais de 1 milhão
        de avaliações.<br />
        Nunca mais perca horas procurando filmes!
      </h3>

      <div class="content-search">
        <input
          type="text"
          name="search"
          [(ngModel)]="search"
          required
          placeholder="Buscar"
        />
        <a class="btn-search" (click)="handleSubmit()">
          <img
            class="btn-search-icon"
            src="../../assets/images/icon-search.png"
            alt="buscar"
          />
        </a>
      </div>
      <div class="container-search-menu active">
        <div class="search-menu-box">
          <div *ngFor="let movie of movies" class="search-menu-item">
            <p>{{ movie.title }}</p>
            <p>{{ movie.year }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
